/* ============================================================================

                              CSS Reset Styles

 ============================================================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ============================================================================

                              Hero Section Styles

 ============================================================================ */

.hero-section {
    background-color: #1F2937;
}

.site-header {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo a {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav .nav-links {
    display: flex;
    gap: 24px;
}

.header-nav a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

.hero-text {
    width: 50%;
}

.hero-img {
    width: 50%;
    max-width: 100%;
    border: 1px solid #FFF;
    text-align: center;
    color: #FFF;
}

.hero-title-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 25px;
}

.hero-cta-btn {
    background-color: #3882F6;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    padding: 6px 36px;
    margin-top: 25px;
    border: 0;
    border-radius: 8px;
}

/* ============================================================================

                              Info Section Styles

 ============================================================================ */

.info-section {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 120px;
}

.info-section-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-cards {
    display: flex;
    gap: 50px;
    padding: 0 50px;
}

.info-card {
    flex: 1 1 0;
}

.info-card-img {
    height: 200px;
    width: 100%;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

.info-card-subtext {
    font-size: 18px;
    color: #5A5A5A;
    margin-top: 10px;
    text-align: center;
}

/* ============================================================================

                              Quote Section Styles

 ============================================================================ */

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 0;
}

.quote {
    width: 60%;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-citation {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

/* ============================================================================

                              Call To Action Section Styles

 ============================================================================ */

 .cta-section {
    background-color: #3882F6;
    width: 80%;
    margin: 100px auto;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
 }

 .cta-title {
    font-size: 20px;
    color: #FFF;
 }

 .cta-subtext {
    font-size: 18px;
    color: #F9FAF8;
 }

 .sign-up-btn {
    padding: 4px 36px;
    background-color: #3882F6;
    border: 2px solid #FFF;
    border-radius: 8px;
 }

 .sign-up-btn a {
    font-size: 18px;
    font-weight: 800;
    color: #FFF;
 }